/*The purpose of this css file is to style the index.html file for
Horiseon Social Solution Services*/

* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    color: #ffffff;
    background-color: #d9dcd6;
}

div {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
} 

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

span {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

ul li {
    display: inline-block;
    margin-left: 25px; 
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*try to move background image to <img> in html for better accessiblity*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    display: inline-block;
    width: 75%;
    margin-left: 20px;
}

.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 309px;
    background-color: #0072bb;
}

.content img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

.benefits div {
    margin-bottom: 40px;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center; 
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    color: #000000;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}
